<!DOCTYPE html>
<html class="no-js" lang="it">
    <head>
    <%- include ('./components/Generics/Css/Css.ejs') %>
    <meta name="robots" content="noindex">
    <title>404</title>
    </head>
    <body class="template-color-10">
        <div id="page">
            <%- include ('./components/Generics/Header/Header-it.ejs') %>
            <%- include ('./components/Generics/Titolo/Titolo-it.ejs') %>

            <div class="section"> 
                <div class="container">
                    <div class="col-md-12 py60">
                        <script id="CookieDeclaration" src="https://consent.cookiebot.com/2a8e5075-8213-4246-92ff-a6a638e2a8da/cd.js" type="text/javascript" async></script>
                    </div>
                </div>
            </div>
            
             <%- include ('./components/Generics/CtaLavoriamo/CtaLavoriamo-it.ejs') %>
            <%- include ('./components/Generics/Footer/Footer-it.ejs') %>
        </div>
        <%- include ('./components/Generics/MenuMobile/MenuMobile-it.ejs') %>
        <%- include ('./components/Generics/Js/Js.ejs') %>
    </body>
</html>